### The following program is intended to scrape gas station Data within the great seattle area.

#### <font color = blue>There are four packages involved.</font>

##### Use this [The Gas Station link](https://www.autoblog.com/seattle-gas-prices/)

In [1]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup

### First, we create the Seattle Dataframe

In [2]:
Seattle = pd.DataFrame(columns=['Brand', 'Street address', 'City', 'ZIP', 'GAS PRICE'])
Seattle

Empty DataFrame
Columns: [Brand, Street address, City, ZIP, GAS PRICE]
Index: []

In [3]:
for j in list(range(1,13)):
    url = "https://www.autoblog.com/seattle-gas-prices/pg-"+ str(j)+"/"
    response = get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    gas_containers = html_soup.find_all('ul', class_ = 'details')
    
    for i in gas_containers:
        info = i.find_all('li') 


        to_append = [
            info[0].h4.text, info[0].address.text[0:-17], info[0].address.text[-17:-8],
            info[0].address.text[-5:], info[2].data.text[1:]
        ]

        a_series = pd.Series(to_append, index=Seattle.columns)
        Seattle = Seattle.append(a_series, ignore_index=True)

In [4]:
Seattle.head()

,Brand,Street address,City,ZIP,GAS PRICE
0,Chevron #204996,20010 Ballinger Way Ne,Seattle,98155,3.39
1,Chevron,6600 Martin Luther King Jr Way S,Seattle,98118,3.39
2,Arco,1901 Ne 205th St,Seattle,98155,2.93
3,Union 76,914 James St,Seattle,98104,3.74
4,Shell,511 S Dearborn St,Seattle,98134,3.59

### Then next dataframe is the lynnwood Dataframe

In [5]:
lynnwood = pd.DataFrame(columns=['Brand', 'Street address', 'City', 'ZIP', 'GAS PRICE'])
lynnwood

Empty DataFrame
Columns: [Brand, Street address, City, ZIP, GAS PRICE]
Index: []

In [6]:
for j in list(range(1,13)):
    url = "https://www.autoblog.com/lynnwood-wa-gas-prices/pg-"+ str(j)+"/"
    response = get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    gas_containers = html_soup.find_all('ul', class_ = 'details')
    
    for i in gas_containers:
        info = i.find_all('li') 


        to_append = [
            info[0].h4.text, info[0].address.text[0:-17], info[0].address.text[-17:-8],
            info[0].address.text[-5:], info[2].data.text[1:]
        ]

        a_series = pd.Series(to_append, index=lynnwood.columns)
        lynnwood = lynnwood.append(a_series, ignore_index=True)

In [7]:
lynnwood.head()

,Brand,Street address,City,ZIP,GAS PRICE
0,Arco,4806 196th St Sw,Lynnwood,98036,2.99
1,Fred Meyer Fuel Center #9180 (discount Available),4616 196th St Sw,Lynnwood,98036,2.96
2,Union 76,19907 44th Ave W,Lynnwood,98036,2.99
3,Shell,19930 44th Ave W,Lynnwood,98036,3.29
4,Costco #0115,19105 Highway 99,Lynnwood,98036,2.79

### Then next dataframe is the mountlake terrace Dataframe

In [8]:
mountlaketerrace = pd.DataFrame(columns=['Brand', 'Street address', 'City', 'ZIP', 'GAS PRICE'])
mountlaketerrace

Empty DataFrame
Columns: [Brand, Street address, City, ZIP, GAS PRICE]
Index: []

In [9]:
for j in list(range(1,12)):
    
    url = "https://www.autoblog.com/mountlake%20terrace%20wa-gas-prices/pg-"+ str(j)+"/"

    response = get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    gas_containers = html_soup.find_all('ul', class_ = 'details')
    
    for i in gas_containers:
        info = i.find_all('li') 


        to_append = [
            info[0].h4.text, info[0].address.text[0:-17], info[0].address.text[-17:-8],
            info[0].address.text[-5:], info[2].data.text[1:]
        ]

        a_series = pd.Series(to_append, index= mountlaketerrace.columns)
        mountlaketerrace = mountlaketerrace.append(a_series, ignore_index=True)

In [10]:
mountlaketerrace.head()

,Brand,Street address,City,ZIP,GAS PRICE
0,76,23206 56th Ave W Mountlake,Terrace,98043,3.61
1,Chevron,22801 44th Ave W Mountlake,Terrace,98043,3.29
2,Chevron,20330 15th Ave Ne,Seattle,98155,3.39
3,Chevron,10805 Pacific Hwy S,Seattle,98168,3.59
4,My Goods Market #5927,22625 Highway 99,Edmonds,98026,3.29

### Then next dataframe is the edmonds Dataframe

In [11]:
edmonds = pd.DataFrame(columns=['Brand', 'Street address', 'City', 'ZIP', 'GAS PRICE'])
edmonds

Empty DataFrame
Columns: [Brand, Street address, City, ZIP, GAS PRICE]
Index: []

In [12]:
for j in list(range(1,12)):    
    url = "https://www.autoblog.com/edmonds-wa-gas-prices/pg-"+ str(j)+"/"
    response = get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    gas_containers = html_soup.find_all('ul', class_ = 'details')
    
    for i in gas_containers:
        info = i.find_all('li') 
        to_append = [
            info[0].h4.text, info[0].address.text[0:-17], info[0].address.text[-17:-8],
            info[0].address.text[-5:], info[2].data.text[1:]
        ]

        a_series = pd.Series(to_append, index= edmonds.columns)
        edmonds = edmonds.append(a_series, ignore_index=True)

In [13]:
edmonds.head()

                   Brand       Street address       City    ZIP GAS PRICE
0                  Shell        1011 Puget Dr   Edmonds   98020      3.39
1                  Shell      660 Edmonds Way   Edmonds   98020      3.39
2               Union 76     9715 Edmonds Way   Edmonds   98020      3.09
3                Chevron  10805 Pacific Hwy S   Seattle   98168      3.59
4  My Goods Market #5927     22625 Highway 99   Edmonds   98026      3.29

In [14]:
data = pd.concat([Seattle, mountlaketerrace, lynnwood,edmonds])
data.drop_duplicates()
data.to_csv('output.csv')